/* Footer-Wrapper */

.footer-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
}

.footer-wrapper > .footer-item {
	background-color: #36383f;
	border: 1px solid #676767;
	padding: 20px 0;
	color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.2em;
}

.footer-wrapper > .footer-item:hover {
	background-color: #5a5f73;
}

.footer-wrapper > .footer-item span {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.3em;
	letter-spacing: -2px;
}

/* End-Section */

.end-section {
	width: 100%;
	height: 90px;
	background-color: #191a1d;
}